<h1>Welcome To CSE Motors!</h1>

<div id="hero">
    <div id="hero-text">
        <p><span id="dmc">DMC Delorean</span><br>3 Cup holders<br>Superman doors<br>Fuzzy dicer</p>
        <button>Own Today</button>
    
    </div>
</div>

<section id="gallery">
    <div id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's like travelling in time."(4/5)</li>
        <li>"Coolest ride on the road."(4/5)</li>
        <li>"i'm feeing McFly!"(5/5)</li>
        <li>"The most futuristic ride of our day"(4/5)</li>
        <li>"80's linin and I love it!"(5/5)</li>
    </ul>
    </div>



    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div id="image-gallery">
            <figure>
                <div class="image-wrapper">
                <img loading="lazy" id="flux-cap" alt="flux capacitor" src="../images/upgrades/flux-cap.png">
                </div>
                <figcaption>Flux capacitor</figcaption>
            </figure>
            <figure>
                <div class="image-wrapper">
                <img loading="lazy" id="flame-dec" alt="flame decals" src="../images/upgrades/flame.jpg"> 
                </div>
                <figcaption>Flame decals</figcaption>
            </figure>
            <figure>
                <div class="image-wrapper">
                <img loading="lazy" id="bumper-sticks" alt="bumper stickers" src="../images/upgrades/bumper_sticker.jpg"> 
                </div>
                <figcaption>Bumper stickers</figcaption>
            </figure>
            <figure>
                <div class="image-wrapper">
                <img loading="lazy" id="hub-cap" alt="hub caps" src="../images/upgrades/hub-cap.jpg"> 
                </div>
                <figcaption>Hub cap</figcaption>
            </figure>
        </div>
    </div>

    
</section>

